
body {
	font-size: 14px;
	overflow: auto;
}

img {
	border-radius: 3px;
}

/* TOP MENU */ 

.manager {
	margin-top: 30px;
	padding: 20px;
	border-radius: 4px;
	overflow: auto;
}

.manager-table {
	margin: auto;
}

.member-list {
	margin-bottom: 30px;
	margin-right: 20px;
	width: 150px;
	background-color: #2368B7;
	border-radius: 4px;
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	font-size: 15px;
}

.member-list:hover {
	color: #fff;
	font-weight: 500;
}

.product-manager {
	margin-bottom: 30px;
	width: 150px;
	background-color: #2368B7;
	border-radius: 4px;
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	font-size: 15px;
}

.product-manager:hover {
	color: #fff;
	font-weight: 500;
}



/* LIST-TABLE */ 

.product-list-table {
	width: 100%;
	height: auto;
	font-size: 13px;
	margin: auto;
	color: #333;
}

.product-header {
	background-color: #ccc;
	height: 30px;
}

.product-header th {
	text-align: center;
	padding: 7px;
}

.product-data td {
	border-bottom: 1px solid #ccc;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

/* MODIFY, DELETE */

.modify-button:hover {
	color: #333;
	font-weight: 500;
}

.delete-button:hover {
	color: #333;
	font-weight: 500;
}

/* SEARCH */

.search-group {
	margin-top: 20px;
}

.search-group select {
	font-size: 14px;
	margin-bottom: 10px;
}

.search-group input {
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	width: 200px;
	height: 25px;
	outline: none;
	vertical-align: top;
	line-height: 20px;
	padding: 12px;
	font-size: 13px;
}

.search-group button {
	font-size: 13px;
	color: #fff;
	background-color: #2368B7;
	border: none;
	border-radius: 4px;
	padding: 7px;
}

button:hover {
	outline: none;
	font-weight: 500;
}

.paging-section {
	margin-bottom: 50px;
	height: 100px;
}