.link_find {
	color: #333;
	font-weight: 500;
	font-size: 13px;
}

.link_find:hover {
	color: #333;
}

h1 {
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	margin-top: 60px;
}

input {
	text-rendering: auto;
	color: initial;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	background-color: white;
	cursor: text;
	margin: 0em;
	padding: 1px 0px;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

input:focus {
	outline: none;
	border: none;
	background-color: none;
}

.inner_login {
	position: absolute;
	left: 50%;
	top: 45%;
	margin: -145px 0 0 -160px;
}

.login_tistory {
	position: relative;
	width: 320px;
	margin: 0 auto;
}

.screen_out {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 0;
	text-indent: -9999px;
}

body, button, input, select, td, textarea, th {
	font-size: 15px;
}

.login_tistory .box_login {
	margin: 35px 0 0;
	border: 1px solid #ddd;
	border-radius: 3px;
	background-color: #fff;
	box-sizing: border-box;
}

.login_tistory .inp_text {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 18px 19px 19px;
	box-sizing: border-box;
}

.login_tistory .inp_text+.inp_text {
	border-top: 1px solid #ddd;
}

.inp_text input {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 13px;
	color: #333;
	border: none;
	outline: 0;
	background-color: transparent;
}

.btn_login {
	margin: 20px 0 0;
	width: 100%;
	height: 48px;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
	background-color: #2368B7;
	outline: none;
	border: 1px solid;
}

.btn_createId {
	margin: 10px 0 0;
	width: 100%;
	height: 48px;
	border-radius: 3px;
	font-size: 16px;
	color: skyblue;
	background-color: white;
	outline: none;
	border: 1px solid;
}

#naver_id_login {
	width: 100%;
	height: 48px;
	margin: 10px 0 0;
	display: inline-block;
}

.login_append {
	padding: 15px 0 0;
	text-align: center;
}

.login_append .txt_find {
/* 	float: right; */
	color: #777;
	display: inline;
}

.error {
	font-size: 12px;
	color: #ccc;
	text-align: center;
}

.error_miss {
	font-size: 12px;
	color: #b12603;
	text-align: center;
	margin-left: 60px;
}