
/* COMMON */ 

.container {
	height: auto;
}

h1 {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 500;
}

.line {
	background-color: #ccc; 
	height: 3px; 
	width: 600px;
	margin-bottom: 20px;
}

.error {
	display: inline-block;
	margin-left: 5px;
	font-size: 11px;
	color: #b3130b;
}

.product-add {
	width: 550px;
	height: 650px;
}


/* TABLE */

.product-add-table {
	width: 650px;
	font-size: 14px;
}

.product-add-table td {
	margin-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
}


/* INPUT */

input {
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	height: 25px;
	outline: none;
	vertical-align: top;
	line-height: 20px;
	padding: 12px;
	font-size: 13px;
}

input::placeholder {
	font-size: 12px;
}

input[type=text]:focus {
	outline: none;
}

input[type=file] {
	height: 30px;
	border: none;
	line-height: 0;
	padding-top: 8px;
	padding-left: 0;
	font-size: 13px;
	
}

input[type=file]:focus {
	outline: none;
}

/* TEXTAREA */

textarea {
	resize: none;
	width: 400px;
	height: 100px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	margin-bottom: 5px;
	vertical-align: middle;
	font-size: 13px;
}

textarea:focus {
	outline: none;
}

textarea::placeholder {
  font-size: 13px;
  padding: 5px;
}



/* SELECT */

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	
	font-family: "Noto Sansf KR", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.5;
	width: 55px;
	
	color: #333;
	background-color: #fff;
	padding-left: 13px;
	padding-top: 2px;
	margin: 0;
	border-radius: 3px;
	border: 1px solid #ccc;
}

select:focus {
	outline: none;
}



/* BUTTON */

.product-button-group {
	margin-top: 20px;
}

button {
  font-size: 13px;
  color: #fff;
  background-color: #2368B7;
  border: none;
  border-radius: 4px;
  padding: 7px;
}

button:hover {
	outline: none;
	font-weight: 500;
}

button:focus {
	outline: none;
	font-weight: 500;
}

.product-button-group a {
	text-decoration: none;
	background-color: #2368B7;
	padding: 4px;
	border-radius: 4px;
	font-size: 13px;
	color: #fff;
}

.product-button-group a:hover {
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}