/* COMMON */

.header {
	margin: 50px 80px;
}

.p_type {
	font-size: 14px;
	color: #333;
}

.p_type label:hover {
	color: #333;
	font-weight: 500;
	cursor: pointer;
}


/* PRODUCT LIST */

.image-products {
	width: 700px;
	height: auto;
	font-size: 13px;
}

.image-products td {
	padding: 45px;
}

.image-products img {
	width: 180px;
	height: 180px;
	margin-bottom: 8px;
	border-radius: 3px;
}

.image-products img:hover {
	opacity: 0.8;
}

.title {
	margin-bottom: 5px;
}

.title a:hover {
	cursor: pointer;
	color: #333;
	font-weight: 500;
}

.price {
	color: #b12603;
	font-weight: 500;
}



/* INPUT, BUTTON */ 

.search-group {
	margin-top: 15px;
}

.search-group select {
	font-size: 14px;
	margin-bottom: 10px;
}

.search-group input {
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	width: 200px;
	height: 25px;
	outline: none;
	vertical-align: top;
	line-height: 20px;
	padding: 12px;
	font-size: 13px;
}

.search-group button {
	font-size: 13px;
	color: #fff;
	background-color: #2368B7;
	border: none;
	border-radius: 4px;
	padding: 7px;
}

button:hover {
	outline: none;
	font-weight: 500;
}

.paging-section {
	height: 100px;
	margin-bottom: 50px;
}